@using X.PagedList.Mvc.Fluent
@using _12._30.Models.EFModels;

@model X.PagedList.IPagedList<Product>



@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            Category.Name
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            ProductImage
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>

        </tr>
    }

</table>
@(Html.Pager(Model)
    .Url(page => Url.Action("Index", new {pageNumber= page }))
    .Classic())
